*, /*Con esto ya no se mueve el navbar*/
*:before,
*:after {
    box-sizing: inherit;
}
.section-proyects{
    width:inherit;
    height: 74vh;
    display: flex;
    flex-direction: column;
    background-color: #1C2C38;
    

}
.text-proyects{
    text-align: center;
    padding: 2rem 1rem 4rem 3rem;
    color:white;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;

}

.text-pro{
    text-align: center;
    color:white;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}
.slider-box{
    width: 360;
    justify-items: center; 
    
}
.img-carrousel{
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    /* padding: 0rem 0.5rem 0rem 0.4rem; */
    /* margin-right:3rem ; */
    
    /* width: 300px; */
    height: 40vh;
    background-color: #191919;
}
.img-slider{
    width: 100%;
    height: 30vh;
    /* padding: 1.5rem 1rem 0rem 1rem; */
}
/* .links, .red, .pedidos{
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}
.links{
    background-image: url('./img/chain.jpg');
}
.red{
    background-image: url('./img/Fur.png');
}
.pedidos{
    background-image: url('./img/pan.jpg');
} */
.box-slider{
    padding: 0rem 0.5rem 0rem 3rem;
    
}
@media screen and (min-width: 800px) {
    .section-proyects{
        width:inherit;
        
        
    };
    .img-carrousel{
        padding: 0rem 0.5rem 0rem 0.5rem;
        height: 5rem;
    }
    

}

/*Vista de mobile más pequeño*/

@media screen and (max-width: 320px) {  
    .section-proyects{
        width:inherit;
        height: 80vh;
    }
}