*, /*Con esto ya no se mueve el navbar*/
*:before,
*:after {
    box-sizing: inherit;
}
.section-proyects{
    width:inherit;
    height: 74vh;
    display: flex;
    flex-direction: column;
    background-color: #1C2C38;
    

}
.text-proyects{
    text-align: center;
    padding: 2rem 1rem 4rem 3rem;
    color:white;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;

}

.text-pro{
    text-align: center;
    color:white;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
}
.slider-box{
    width: 360;
    justify-items: center; 
    
}


@media screen and (min-width: 800px) {
    .section-proyects{
        width:inherit;
        
        
    };
    
    

}