.section-ability{
    width:inherit;
    height: 200vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color:#191919 ;
    /* background-color: #F98D90; */
    justify-items: center;
    justify-content: center;
}
.text-ability{
    font-family: 'Raleway', sans-serif;
    margin:2rem 1rem 2rem 1rem;
    font-size: 20px;
    color: white;
    

}
.ability-image{
    margin-left: 0.5rem;
    height: 30vh;
}
.images-ability{
    display: flex;
    flex-direction: row;

}
.avatar{
    display: none;
  
}
.list-ability{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 4vh;
    color: white;
}
.image-list{
    height: 7vh;
}
.images-ability{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.line-soft{
    width: 15rem;
    display: flex;
    border-top: 3px double white;
    position: center;
    margin-left: 5rem;
}
.tec{
    margin-top: 8vh;
}
.avatar-bere{
    display: block;
    height: 30vh;
    width: 15rem;
    margin-left: 5.5rem;
    
}

@media screen and (min-width: 800px) {
    .section-ability{
        height: 100vh;
    }
    .images-ability{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .avatar{
        display: block;
        height: 80vh;
    }
    .image-list{
        height: 7vh;
    }
    .tec{
        display:block;
        margin-top: 0vh;
    }
    .line-soft{
        width: 15rem;
        display: flex;
        border-top: 3px double white;
        position: center;
        margin-left: 0.2rem;
    }
    .avatar-bere{
        display: none;
    }
}