*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
   margin:0; 
}


.m-t{
    margin-top: 0;
}

.navbar{
    width: auto;
    height: 10vh;
    background-color: #7A9DD2;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    color: white;
    text-decoration: none;
}
.menu{
    margin-left: 40rem;
}
