*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
   margin:0; 
}
.section-main{
    width: auto;
    height: 640px;
   background-image: url('./img/earth-1149733_1920.jpg');
   background-size: cover;
   background-repeat: no-repeat;
}


.m-t{
    margin-top: 0;
}

.menu{
    margin-left: 40rem;
}
