*, /*Con esto ya no se mueve el navbar*/
*:before,
*:after {
    box-sizing: inherit;
}
.section-contact{
    width:inherit;
    height: 27vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color:#030303 ;
}



.contact{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 20px;
    /* padding: 1rem 0rem 4rem 0rem; */

}
.fab, .fa-linkedin, .fa-github-square, .fa-envelope-square{
    text-align: center;
    margin-right: 2rem;
    font-size: 70px;
    color: white;
    
}
.box-contact{
    height: 20vh;
    width: 30rem;
    text-align: center;

}
.icons-contact{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 1rem 4rem 0.5rem 4rem;
    
}
.made{
    text-align: center;
    height: 10vh;
    width: inherit;
    /* padding: 5rem 4rem 2rem rem; */
}
.text-made{
    padding: 1rem 0rem 0rem 0rem;
}
.contact-all{
    display: flex;
    justify-items: center;
    flex-direction: column;
}
@media screen and (min-width: 800px) {
    .section-contact{
        height: 20vh;
    }
    .box-contact{
        height: 20vh;
        width: 30rem;
        text-align: center;
    
    }
    .icons-contact{
        display: flex;
        flex-direction: row;
        text-align: center;
        padding: 2rem 4rem 2rem 10rem;
        
    }
    .made{
        text-align: left;
        height: 20vh;
        width: 50rem;
        /* padding: 5rem 4rem 2rem rem; */
    }
    .text-made{
        padding: 5rem 0rem 0rem 5rem;
    }
    .section-contact{
        flex-direction: row;
    }
    
}

/*Vista de mobile más pequeño*/

@media screen and (max-width: 320px) {    
    .icons-contact{
        padding: 1rem 1rem 0.5rem 2.6rem; 
    }
    .box-contact{
        
        width: 18rem;
        
    
    }
}
