#about-me{
    width: auto;
    height: 100vh;
    background-color: #FFFFFF;
    
}
.description-text{
    text-align: center;
    padding: 4rem 2rem 0.5rem 2rem;
    color:#373A47;
    font-family: 'Raleway', sans-serif;
    

}
.my-description{
    width: auto;
    margin-left: 0.5rem;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Fugaz One', cursive;
    font-size: 20px;
    color:#F98695;

}
#robot{
    height: 30vh;
    width: auto;
    border-radius: 10px; 
    margin: 0.5rem 0.5rem 1rem 5rem;
}

@media screen and (min-width: 800px) {
    #about-me{
        display: flex;
        flex-direction: row;
        
    }
    .description-text{
        font-size: 20px;
        margin-left: 6rem;
        margin-top: 14vh;
    }
    .my-description{
        padding: 1rem 1rem 1rem 3rem;

    }
    #robot{
        height: 98vh;
        margin-left: 3rem;
        
        
    }
}

/*Vista de mobile más pequeño*/

@media screen and (max-width: 320px) {
    #about-me{
        height: 117vh;
    }
    #robot{
        height: 25vh;
        margin: 0rem 0.5rem 0rem 4.5rem;
    }
    .description-text{
        text-align: center;
        padding: 3rem 2rem 0rem 2rem;
    }

}