
*, /*Con esto ya no se mueve el navbar*/
*:before,
*:after {
    box-sizing: inherit;
}

.m-t{
    margin-top: 0;
}
header{
   margin:0; 
}
body{
    display: flex;
    flex-direction: column;
}
.section-main{
    width:183%;
    height: 93vh;
    background-image: url('./img/earth-1149733_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
    margin-top: -7vh;
    margin-left: -6rem;
    
}
.my-name{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size:26px;
    
    
}

