
*, /*Con esto ya no se mueve el navbar*/
*:before,
*:after {
    box-sizing: inherit;
}

.m-t{
    margin-top: 0;
}
header{
   margin:0; 
}

.section-main{
    width:inherit;
    height: 100vh;
    background-image: url('./img/earth-1149733_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -4rem;
    color: aliceblue;
    margin-right: 0;
    
   
    
}
.my-name{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    font-family: 'Fugaz One', cursive;
    font-size:18px;
    text-align: right;
    padding: 6rem 1rem 3rem 0.5rem;  
    
}

@media screen and (min-width: 800px) {
    .section-main{
        
        background-size: inherit;  
    }  
    .my-name{
        font-size: 40px;
        text-align: center;
    }
}

